
.address {
    display: block;
    color: #333333;
    float: right;
    font: 14px/24px "open_sansregular", sans-serif;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    &:after {
        display: inline-block;
        content: "";
        position: absolute;
        left: -23px;
        top: 5px;
        @include icons-sprite(map);
        width: icons-sprite-width(map);
        height: icons-sprite-height(map);
    }
}