.info__container{
    width: 1100px;
    margin: 0 auto;
}
.info {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.info__title {
    color: #333333;
    font: 20px "open_sansbold", sans-serif;
    margin-bottom: 4px;
}
.info__main {
    text-align: justify;
    p{
        color: #333333;
        font: 14px/20px "open_sansregular", sans-serif;
        margin-bottom: 20px;
        text-indent: 35px;
    }
}
.column {
    padding-right: 30px;
}
.last {
  padding-right: 0;
}