.search {
    float: left;
    font-size: 0;
    margin-left: 55px;
}

.search__field {
    box-sizing: border-box;
    background: #fbfbfb;
    border: 1px solid #dee1e4;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #7f7f7f;
    height: 35px;
    width: 288px;
    padding: 10px 17px 10px;
    display: inline-block;
    vertical-align: top;
    font: 14px "open_sanslight", sans-serif;
}

.search__button {
    box-sizing: border-box;
    color: #fff;
    font: 16px "open_sanssemibold", sans-serif;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 79px;
    border: none;
    background: #ff6e35;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}