@import "../_helpers/sprites";

.phone {
    float: right;
    margin-left: 109px;
}

.phone__link {
    color: #333;
    font: 18px/24px "open_sanssemibold", sans-serif;
    text-decoration: none;
    position: relative;

    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: -24px;
        top: 4px;
        @include icons-sprite(tel);
        width: icons-sprite-width(tel);
        height: icons-sprite-height(tel);
    }
}