/* line 136, social/*.png */
.social-sprite, .social-btn .facebook, .social-btn .vk, .social-btn .twitter, .social-btn .facebook:hover, .social-btn .vk:hover, .social-btn .twitter:hover {
  background-image: url('../img/social-s514906711f.png');
  background-repeat: no-repeat;
}

/* line 5, ../../scss/_components/social-btn.scss */
.social-btn__list {
  padding: 0;
  margin: 0;
  margin-left: -15px;
}

/* line 10, ../../scss/_components/social-btn.scss */
.social-sprite, .social-btn .facebook, .social-btn .vk, .social-btn .twitter, .social-btn .facebook:hover, .social-btn .vk:hover, .social-btn .twitter:hover {
  display: block;
}

/* line 14, ../../scss/_components/social-btn.scss */
.social-btn {
  float: left;
  font-size: 0;
}
/* line 19, ../../scss/_components/social-btn.scss */
.social-btn .facebook {
  background-position: 0 -412px;
  width: 26px;
  height: 26px;
}
/* line 59, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-btn .facebook:hover, .social-btn .facebook.fb-hover {
  background-position: 0 -286px;
}
/* line 25, ../../scss/_components/social-btn.scss */
.social-btn .vk {
  background-position: 0 -1488px;
  width: 27px;
  height: 26px;
}
/* line 59, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-btn .vk:hover, .social-btn .vk.vk-hover {
  background-position: 0 -1362px;
}
/* line 31, ../../scss/_components/social-btn.scss */
.social-btn .twitter {
  background-position: 0 -950px;
  width: 26px;
  height: 26px;
}
/* line 59, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-btn .twitter:hover, .social-btn .twitter.tw-hover {
  background-position: 0 -824px;
}

/* line 40, ../../scss/_components/social-btn.scss */
.social-btn .facebook:hover {
  background-position: 0 -286px;
  width: 26px;
  height: 26px;
}
/* line 46, ../../scss/_components/social-btn.scss */
.social-btn .vk:hover {
  background-position: 0 -1362px;
  width: 27px;
  height: 26px;
}
/* line 52, ../../scss/_components/social-btn.scss */
.social-btn .twitter:hover {
  background-position: 0 -824px;
  width: 26px;
  height: 26px;
}

/* line 60, ../../scss/_components/social-btn.scss */
.social-btn__item {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

/* line 66, ../../scss/_components/social-btn.scss */
.social-btn__link {
  display: block;
}

/* line 192, icons/*.png */
.icons-sprite, .address:after, .phone__link:after {
  background-image: url('../img/icons-sa12334029d.png');
  background-repeat: no-repeat;
}

/* line 3, ../../scss/_components/address.scss */
.address {
  display: block;
  color: #333333;
  float: right;
  font: 14px/24px "open_sansregular", sans-serif;
  margin-left: 20px;
  position: relative;
}
/* line 11, ../../scss/_components/address.scss */
.address:after {
  display: inline-block;
  content: "";
  position: absolute;
  left: -16px;
  top: 5px;
  background-position: 0 -136px;
  width: 12px;
  height: 16px;
}

/* line 3, ../../scss/_components/telephone.scss */
.phone {
  float: right;
  margin-left: 109px;
}

/* line 8, ../../scss/_components/telephone.scss */
.phone__link {
  color: #333;
  font: 18px/24px "open_sanssemibold", sans-serif;
  text-decoration: none;
  position: relative;
}
/* line 14, ../../scss/_components/telephone.scss */
.phone__link:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -24px;
  top: 4px;
  background-position: 0 -246px;
  width: 12px;
  height: 16px;
}

/* line 7, ../../scss/_components/header.scss */
.main-header {
  min-width: 1100px;
}

/* line 10, ../../scss/_components/header.scss */
.main-header__contacts {
  background: #fff;
  border-bottom: 1px solid #ebedef;
  padding: 25px 0 26px;
  margin-bottom: 10px;
}

/* line 16, ../../scss/_components/header.scss */
.contacts__container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
