div.filters.clearfix
   div.filter.filter-select
      span.filter__title Сортировать по
      select.filter__select
         option(value="price").filter__select__option по цене
         option(value="rating").filter__select__option по популярности

   div.filter.filter-view
      span.filter__title Вид каталога
      ul.view-list
         li.view-list__item.view-list__item_list-one
            a(href="#").view-list__link
         li.view-list__item.view-list__item_list-two
            a(href="#").view-list__link
         li.view-list__item.view-list__item_list-three
            a(href="#").view-list__link