div.social-btn-footer
   ul.social-btn-footer__list
      li.social-btn-footer__item
         a(href="https://www.facebook.com/" target="_blank").social-btn-footer__link.facebook facebook
      li.social-btn-footer__item
         a(href="https://www.vk.com/" target="_blank").social-btn-footer__link.vk vk
      li.social-btn-footer__item
         a(href="https://twitter.com/" target="_blank").social-btn-footer__link.twitter twitter