html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.wrapper:after {
  content: "";
  height: 220px;
  display: block;
}

footer {
  height: 220px;
  margin-top: -220px;
}
