.social-sprite, .social-btn-footer .facebook, .social-btn-footer .vk, .social-btn-footer .twitter, .social-btn-footer .facebook:hover, .social-btn-footer .vk:hover, .social-btn-footer .twitter:hover {
  background-image: url('../../img/social-s731d30fe26.png');
  background-repeat: no-repeat;
}

.social-btn-footer__list {
  padding: 0;
  margin: 0;
  margin-left: -15px;
  padding-right: 5px;
}

.social-btn-footer {
  font-size: 0;
  margin-bottom: 35px;
  display: block;
}
.social-btn-footer .facebook {
  background-position: 0 -43px;
  width: 43px;
  height: 43px;
}
.social-btn-footer .facebook:hover, .social-btn-footer .facebook.fb-footer-hover {
  background-position: 0 0;
}
.social-btn-footer .vk {
  background-position: 0 -319px;
  width: 43px;
  height: 43px;
}
.social-btn-footer .vk:hover, .social-btn-footer .vk.vk-footer-hover {
  background-position: 0 -276px;
}
.social-btn-footer .twitter {
  background-position: 0 -181px;
  width: 43px;
  height: 43px;
}
.social-btn-footer .twitter:hover, .social-btn-footer .twitter.tw-footer-hover {
  background-position: 0 -138px;
}

.social-btn-footer .facebook:hover {
  background-position: 0 0;
  width: 43px;
  height: 43px;
}
.social-btn-footer .vk:hover {
  background-position: 0 -276px;
  width: 43px;
  height: 43px;
}
.social-btn-footer .twitter:hover {
  background-position: 0 -138px;
  width: 43px;
  height: 43px;
}

.social-btn-footer__item {
  list-style: none;
  display: inline-block;
  margin-left: 26px;
}

.social-btn-footer__link {
  display: block;
}
