@font-face {
  font-family: "open_sansitalic";
  font-weight: normal;
  font-style: normal;
  src: url("opensans-italic.eot?#iefix") format("embed-opentype"), url("opensans-italic.woff2") format("woff2"), url("opensans-italic.woff") format("woff"), url("opensans-italic.ttf") format("ttf"), url("opensans-italic.svg#open_sansitalic") format("svg");
  src: url("opensans-italic.eot");
}
@font-face {
  font-family: "open_sanslight";
  font-weight: normal;
  font-style: normal;
  src: url("opensans-light.eot?#iefix") format("embed-opentype"), url("opensans-light.woff2") format("woff2"), url("opensans-light.woff") format("woff"), url("opensans-light.ttf") format("ttf"), url("opensans-light.svg#open_sanslight") format("svg");
  src: url("opensans-light.eot");
}
@font-face {
  font-family: "open_sansbold";
  font-weight: normal;
  font-style: normal;
  src: url("opensans-bold.eot?#iefix") format("embed-opentype"), url("opensans-bold.woff2") format("woff2"), url("opensans-bold.woff") format("woff"), url("opensans-bold.ttf") format("ttf"), url("opensans-bold.svg#open_sansbold") format("svg");
  src: url("opensans-bold.eot");
}
@font-face {
  font-family: "open_sansregular";
  font-weight: normal;
  font-style: normal;
  src: url("opensans-regular.eot?#iefix") format("embed-opentype"), url("opensans-regular.woff2") format("woff2"), url("opensans-regular.woff") format("woff"), url("opensans-regular.ttf") format("ttf"), url("opensans-regular.svg#open_sansregular") format("svg");
  src: url("opensans-regular.eot");
}
