.icons-sprite {
  background-image: url('../../img/icons-se903d79ca8.png');
  background-repeat: no-repeat;
}

.social-sprite {
  background-image: url('../../img/social-s514906711f.png');
  background-repeat: no-repeat;
}
